<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="e" type="CPointSoftware.Equihira.Common.Sys.ServerConfigSection, CPointSoftware.Equihira.Common"/>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core"/>
  </configSections>
  <e/>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
    <add key="NewRelic.AppName" value="ECommerceSite"/>
  </appSettings>
  <connectionStrings/>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="true" enableCompression="true"/>
    </scripting>
  </system.web.extensions>
  <system.web>
    <membership defaultProvider="[e]-commerceMembershipProvider">
      <providers>
        <clear/>
        <add name="[e]-commerceMembershipProvider" type="CPointSoftware.ECommerce.Tools.ClientsMembershipProvider, CPointSoftware.ECommerce.Tools"/>
      </providers>
    </membership>
    <compilation targetFramework="4.0" debug="true"/>
    <pages pageBaseType="CPointSoftware.ECommerce.Tools.ECommercePage,CPointSoftware.ECommerce.Tools" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="CPointSoftware.ECommerce.Tools" namespace="CPointSoftware.ECommerce.Tools" tagPrefix="ecom"/>
        <add assembly="Altazion.ECommerce.Controls" namespace="Altazion.ECommerce.Controls" tagPrefix="ecom"/>
        <add assembly="CPointSoftware.ECommerce.Tools" namespace="CPointSoftware.ECommerce.Tools.ExternalServices" tagPrefix="ecom-ex"/>
        <add tagPrefix="ecom" tagName="AdresseAffichage" src="~/Controls/AdresseAffichage.ascx"/>
        <add tagPrefix="ecom" tagName="AdressesChoix" src="~/Controls/AdressesChoix.ascx"/>
        <add tagPrefix="ecom" tagName="AvantageSaisieCode" src="~/Controls/AvantageSaisieCode.ascx"/>
        <add tagPrefix="ecom" tagName="AvisAffichage" src="~/Controls/AvisAffichage.ascx"/>
        <add tagPrefix="ecom" tagName="AvisSaisie" src="~/Controls/AvisSaisie.ascx"/>
        <add tagPrefix="ecom" tagName="CampagneSlideShow" src="~/Controls/CampagneSlideShow.ascx"/>
        <add tagPrefix="ecom" tagName="CampagnePublicite" src="~/Controls/CampagnePublicite.ascx"/>
        <add tagPrefix="ecom" tagName="CompteConnexion" src="~/Controls/CompteConnexion.ascx"/>
        <add tagPrefix="ecom" tagName="CommandeSaisieMessageDestinataire" src="~/Controls/CommandeSaisieMessageDestinataire.ascx"/>
        <add tagPrefix="ecom" tagName="CompteCreation" src="~/Controls/CompteCreation.ascx"/>
        <add tagPrefix="ecom" tagName="CompteCreationDebut" src="~/Controls/CompteCreationDebut.ascx"/>
        <add tagPrefix="ecom" tagName="CompteCreationAdresse" src="~/Controls/CompteCreationAdresse.ascx"/>
        <add tagPrefix="ecom" tagName="CompteCreationInfosLivraison" src="~/Controls/CompteCreationInfosLivraison.ascx"/>
        <add tagPrefix="ecom" tagName="CustomTrackers" src="~/Controls/CustomTrackers.ascx"/>
        <add tagPrefix="ecom" tagName="CritereListeValeurs" src="~/Controls/CritereListeValeurs.ascx"/>
        <add tagPrefix="ecom" tagName="IsvListeLicencesClient" src="~/Controls/IsvListeLicencesClient.ascx"/>
        <add tagPrefix="ecom" tagName="JQueryRangeSlider" src="~/Controls/JQueryRangeSlider.ascx"/>
        <add tagPrefix="ecom" tagName="MagasinsRechercheCP" src="~/Controls/MagasinsRechercheCP.ascx"/>
        <add tagPrefix="ecom" tagName="MagasinGoogleItineraire" src="~/Controls/MagasinGoogleItineraire.ascx"/>
        <add tagPrefix="ecom" tagName="MessageAuClientControl" src="~/Controls/MessageAuClientControl.ascx"/>
        <add tagPrefix="ecom" tagName="LivraisonChoix" src="~/Controls/LivraisonChoix.ascx"/>
        <add tagPrefix="ecom" tagName="LoginPanel" src="~/Controls/LoginPanel.ascx"/>
        <add tagPrefix="ecom" tagName="LotsListe" src="~/Controls/LotsListe.ascx"/>
        <add tagPrefix="ecom" tagName="MicroSiteGlobalInfos" src="~/Controls/MicroSiteGlobalInfos.ascx"/>
        <add tagPrefix="ecom" tagName="MicroSiteHoraires" src="~/Controls/MicroSiteHoraires.ascx"/>
        <add tagPrefix="ecom" tagName="NewsletterChangeEtat" src="~/Controls/NewsletterChangeEtat.ascx"/>
        <add tagPrefix="ecom" tagName="NewsletterChangeEtat" src="~/Controls/NewsletterChangeEtat.ascx"/>
        <add tagPrefix="ecom" tagName="NewsletterInscription" src="~/Controls/NewsletterInscription.ascx"/>
        <add tagPrefix="ecom" tagName="PanierIncitation" src="~/Controls/PanierIncitation.ascx"/>
        <add tagPrefix="ecom" tagName="PanierLignes" src="~/Controls/PanierLignes.ascx"/>
        <add tagPrefix="ecom" tagName="PanierTotalGeneral" src="~/Controls/PanierTotalGeneral.ascx"/>
        <add tagPrefix="ecom" tagName="PanierResumeAvecPopup" src="~/Controls/PanierResumeAvecPopup.ascx"/>
        <add tagPrefix="ecom" tagName="ProduitEnFiche" src="~/Controls/ProduitEnFiche.ascx"/>
        <add tagPrefix="ecom" tagName="ProduitsEnListe" src="~/Controls/ProduitsEnListe.ascx"/>
        <add tagPrefix="ecom" tagName="ProduitListeSimple" src="~/Controls/ProduitListeSimple.ascx"/>
        <add tagPrefix="ecom" tagName="ProduitMailDisponibilite" src="~/Controls/ProduitMailDisponibilite.ascx"/>
        <add tagPrefix="ecom" tagName="ProduitsVitrine" src="~/Controls/ProduitsVitrine.ascx"/>
        <add tagPrefix="ecom" tagName="ProspectCreation" src="~/Controls/ProspectCreation.ascx"/>
        <add tagPrefix="ecom" tagName="PointsLivraisonChoix" src="~/Controls/PointsLivraisonChoix.ascx"/>
        <add tagPrefix="ecom" tagName="RechercheCritere" src="~/Controls/RechercheCritere.ascx"/>
        <add tagPrefix="ecom" tagName="RechercheCritereMarque" src="~/Controls/RechercheCritereMarque.ascx"/>
        <add tagPrefix="ecom" tagName="RechercheCritereSansUrl" src="~/Controls/RechercheCritereSansUrl.ascx"/>
        <add tagPrefix="ecom" tagName="RechercheCritereSegmentation" src="~/Controls/RechercheCritereSegmentation.ascx"/>
        <add tagPrefix="ecom" tagName="RechercheGoogleMap" src="~/Controls/RechercheGoogleMap.ascx"/>
        <add tagPrefix="ecom" tagName="RechercheRapide" src="~/Controls/RechercheRapide.ascx"/>
        <add tagPrefix="ecom" tagName="RechercheResultats" src="~/Controls/RechercheResultats.ascx"/>
        <add tagPrefix="ecom" tagName="RechercheResume" src="~/Controls/RechercheResume.ascx"/>
        <add tagPrefix="ecom" tagName="ReglementsSelection" src="~/Controls/ReglementsSelection.ascx"/>
        <add tagPrefix="ecom" tagName="SegmentsEnListe" src="~/Controls/SegmentsEnListe.ascx"/>
        <add tagPrefix="ecom" tagName="SaisieCritereSegmentation" src="~/Controls/SaisieCritereSegmentation.ascx"/>
        <add tagPrefix="ecom" tagName="SaisieCritereMultiBooleens" src="~/Controls/SaisieCritereMultiBooleens.ascx"/>
        <add tagPrefix="ecom" tagName="SaisieCritereSimple" src="~/Controls/SaisieCritereSimple.ascx"/>
        <add tagPrefix="ecom" tagName="SaisieCritereMarque" src="~/Controls/SaisieCritereMarque.ascx"/>
        <add tagPrefix="ecom" tagName="SaisieCritereKeywords" src="~/Controls/SaisieCritereKeywords.ascx"/>
        <add tagPrefix="ecom" tagName="TwitterTimeline" src="~/Controls/TwitterTimeline.ascx"/>
        <add tagPrefix="ecom" tagName="TrustPilotControl" src="~/Controls/TrustPilotControl.ascx"/>
        <add tagPrefix="ecom" tagName="VitrinesListeProduits" src="~/Controls/VitrinesListeProduits.ascx"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/exec/login.aspx"/>
    </authentication>
    <customErrors mode="Off" defaultRedirect="~/http500.aspx">
      <error statusCode="500" redirect="~/http500.aspx"/>
      <error statusCode="404" redirect="~/http404.aspx"/>
    </customErrors>
    <sessionState/>
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="ApplicationInsights" type="Microsoft.ApplicationInsights.Telemetry.Web.ApplicationInsightsModule"/>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet"/>
    </httpModules>
    <httpHandlers>
      <add path="/admin/glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet"/>
    </httpHandlers>
    <!-- Windows Azure Cache session state provider -->
    <!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>-->
    <!-- Windows Azure Cache output cache provider -->
    <!--Uncomment this section to use Windows Azure Cache for output cache-->
    <!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>-->
    <!-- Either use 'connectionString' and provide all parameters as string OR use 'host','port','accessKey','ssl','connectionTimeoutInMilliseconds' and 'operationTimeoutInMilliseconds'. -->
    <!-- 'databaseId' and 'applicationName' can be used with both options. -->
    <!--
          <add name="MyRedisOutputCache" 
            host = "127.0.0.1" [String]
            port = "" [number]
            accessKey = "" [String]
            ssl = "false" [true|false]
            databaseId = "0" [number]
            applicationName = "" [String]
            connectionTimeoutInMilliseconds = "5000" [number]
            operationTimeoutInMilliseconds = "1000" [number]
            connectionString = "<Valid StackExchange.Redis connection string>" [String]
            loggingClassName = "<Assembly qualified class name that contains logging method specified below>" [String]
            loggingMethodName = "<Logging method should be defined in loggingClass. It should be public, static, does not take any parameters and should have a return type of System.IO.TextWriter.>" [String]
          />
          -->
    <!--<caching>
      <outputCache defaultProvider="MyRedisOutputCache">
        <providers>
          <add name="MyRedisOutputCache" type="Microsoft.Web.Redis.RedisOutputCacheProvider" host="" accessKey="" ssl="true" />
        </providers>
      </outputCache>
    </caching>-->
  </system.web>
  <location path="exec/clients">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="mobile/exec/clients">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler"/>
      <add name="ApplicationInsights" type="Microsoft.ApplicationInsights.Telemetry.Web.ApplicationInsightsModule"/>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode"/>
    </modules>
    <handlers>
      <add name="*.vbhtml_*" path="*.vbhtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.vbhtm_*" path="*.vbhtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.cshtml_*" path="*.cshtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.cshtm_*" path="*.cshtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.xamlx_*" path="*.xamlx" verb="*" type="System.Xaml.Hosting.XamlHttpHandlerFactory, System.Xaml.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.xoml_*" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.svc_*" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.soap_*" path="*.soap" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.rem_*" path="*.rem" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="eurl.axd_*" path="eurl.axd" verb="*" type="System.Web.HttpNotFoundHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.swf_GET,HEAD,POST" path="*.swf" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.gif_GET,HEAD,POST" path="*.gif" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.html_GET,HEAD,POST" path="*.html" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.htm_GET,HEAD,POST" path="*.htm" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.xml_GET,HEAD,POST" path="*.xml" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.jpeg_GET,HEAD,POST" path="*.jpeg" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.png_GET,HEAD,POST" path="*.png" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.jpg_GET,HEAD,POST" path="*.jpg" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.atom_GET,HEAD,POST" path="*.atom" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.rss_GET,HEAD,POST" path="*.rss" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.htc_GET,HEAD,POST" path="*.htc" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.ie7_GET,HEAD,POST" path="*.ie7" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.ie6_GET,HEAD,POST" path="*.ie6" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.css_GET,HEAD,POST" path="*.css" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.asp_GET,HEAD,POST" path="*.asp" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.txt_GET,HEAD,POST" path="*.txt" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.js_GET,HEAD,POST" path="*.js" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.pdf_GET,HEAD,POST" path="*.pdf" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.mp3_GET,HEAD,POST" path="*.mp3" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.mov_GET,HEAD,POST" path="*.mov" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.avi_GET,HEAD,POST" path="*.avi" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.flv_GET,HEAD,POST" path="*.flv" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="sitemap.xml_GET,HEAD,POST" path="sitemap*.xml" verb="GET,HEAD,POST" type="CPointSoftware.ECommerce.Tools.SitemapHandler, CPointSoftware.ECommerce.Tools" preCondition="integratedMode"/>
      <add name="googlemerchant.txtx_GET,HEAD,POST" path="googlemerchant.txtx" verb="GET,HEAD,POST" type="CPointSoftware.ECommerce.Tools.MerchantListingHandler, CPointSoftware.ECommerce.Tools" preCondition="integratedMode"/>
      <add name="facebookads.txtx_GET,HEAD,POST" path="facebookads.txtx" verb="GET,HEAD,POST" type="CPointSoftware.ECommerce.Tools.FaceBookAdsListingHandler, CPointSoftware.ECommerce.Tools" preCondition="integratedMode"/>
      <add name="facebookads.tsv_GET,HEAD,POST" path="facebookads.tsv" verb="GET,HEAD,POST" type="CPointSoftware.ECommerce.Tools.FaceBookAdsListingHandler, CPointSoftware.ECommerce.Tools" preCondition="integratedMode"/>
      <add name="sitemap.xmlx_GET,HEAD,POST" path="sitemap*.xmlx" verb="GET,HEAD,POST" type="CPointSoftware.ECommerce.Tools.SitemapHandler, CPointSoftware.ECommerce.Tools" preCondition="integratedMode"/>
      <add name=".cssx_GET,HEAD,POST" path="*.cssx" verb="GET,HEAD,POST" type="CPointSoftware.ECommerce.Tools.CustomizableCssHandler, CPointSoftware.ECommerce.Tools" preCondition="integratedMode"/>
      <add name="Glimpse" path="/admin/glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode"/>
    </handlers>
    <httpErrors existingResponse="PassThrough"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpCompression>
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="image/svg+xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="image/svg+xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doDynamicCompression="true" doStaticCompression="true"/>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/admin/Glimpse.axd">
    <logging level="Trace"/>
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet"/>
      </ignoredTypes>
    </runtimePolicies>
    <tabs>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Tab.Configuration, Glimpse.AspNet"/>
        <add type="Glimpse.AspNet.Tab.Session, Glimpse.AspNet"/>
        <add type="Glimpse.AspNet.Tab.Routes, Glimpse.AspNet"/>
      </ignoredTypes>
    </tabs>
  </glimpse>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Core" publicKeyToken="632609b4d040f6b4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.3045.0.30" newVersion="11.3045.0.30"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.3045.0.30" newVersion="11.3045.0.30"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CPointSoftware.Tools" publicKeyToken="7f98878649f439c2" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.114.0" newVersion="1.2.114.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: EBBBE8A8-90E4-440F-9393-FB5BB6F3DB35-->