@import url('https://fonts.googleapis.com/css?family=Exo');

body, p, table, td, div {
	font-family: 'Exo', sans-serif;
}

.navbar-inverse {
    background: #36274c no-repeat;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 0 20px 24px;
}

.navbar-inverse ul { 
    list-style-type: none;
    padding:0;
    margin:0;
}

.navbar-inverse ul li { 
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

.navbar-inverse ul li.title img {
    height: 26px;
    margin-top: -1px;
    margin-right: 8px;
}

.navbar-inverse ul li.subtitle span {
    color: #efefef;
    display: block;
    padding-right: 20px;
    border-right: solid 1px #efefef;
    margin-right: 10px;
}

.navbar-inverse ul li.item  {
    padding:0 10px;
}

.navbar-inverse ul li.item a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    opacity: 0.8;
}

.navbar-inverse ul li.item a:hover {
    border-bottom: solid 1px #efefef;
    opacity: 1;
}

.navbar-inverse ul li.item.selected a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    border-bottom: solid 1px #efefef;
    opacity: 1;
}


.sidetoc {
	top:170px;
}

.sidefilter {
    top: 110px;
}


.inheritance, .implements {
    display: none;
}

.level0.summary {
    padding: 0.5rem 0 1.5rem 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    color: #36274c;
}

h3, .h3 {
    font-size:22px;
}